[run]
branch = True
source = src
omit =
    src/mt5/MetaTrader5.py
    */__init__.py
    */tests/*
    */test_*.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    \.\.\.

show_missing = True
skip_covered = False
precision = 1

[html]
directory = coverage_html_python

[xml]
output = coverage.xml
